*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-y: auto;
  font-family: "KyivType Serif", system-ui;
  font-weight: 400;
  font-style: normal;

  background-image: url('../components/assets/img/brick-wall.png');
  background-repeat: repeat;
  background-position: top center;
}

@media (max-width: 400px) {
  body {
    overflow-x: hidden;
  }
}

@font-face {
    font-family: "KyivType Titling";
    src: url('../components/assets/fonts/KyivTypeTitling-VarGX.ttf')
}

@font-face {
    font-family: "KyivType Serif";
    src: url('../components/assets/fonts/KyivTypeSerif-VarGX.ttf')
}

