*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-y: auto;
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-style: normal;

  background-color: #D9D9D9;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.75' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='0.3'/%3E%3C/svg%3E");
}

@media (max-width: 400px) {
  body {
    overflow-x: hidden;
  }
}